    <section id="about" class="about">
      <ul class="about-list container">
        <li class="about-list-item">
          <div class="about-circle">
            <svg width="32" height="30">
              <use href="./images/svg/sprite.svg#icon-bank-icon"></use>
            </svg>
          </div>
          <h3 class="about-title">Investmant Banking</h3>
          <p class="about-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>
        <li class="about-list-item">
          <div class="about-circle">
            <svg width="32" height="30">
              <use href="./images/svg/sprite.svg#icon-portfolio-icon"></use>
            </svg>
          </div>
          <h3 class="about-title">Portfolio Manager</h3>
          <p class="about-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>
        <li class="about-list-item">
          <div class="about-circle">
            <svg width="32" height="30">
              <use href="./images/svg/sprite.svg#icon-tax-icon"></use>
            </svg>
          </div>
          <h3 class="about-title">Tax & Custudio</h3>
          <p class="about-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>
      </ul>
      <div class="about-bcg">
      <div class="about-details">
        <picture>
          <source
            srcset="
              ./images/optimise-images/desktop-team.webp   1x,
              ./images/optimise-images/desktop-team2x.webp 2x
            "
            media="(min-width: 1360px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/ddesktop-team.jpg  1x,
              ./images/optimise-images/desktop-team2x.jpg 2x
            "
            media="(min-width: 1360px)"
          />

          <source
            srcset="
              ./images/optimise-images/tablet-taem.webp   1x,
              ./images/optimise-images/tablet-taem2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/tablet-taem.jpg   1x,
              ./images/optimise-images/tablet-taem2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-team.webp   1x,
              ./images/optimise-images/mobile-team2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/optimise-images/mobile-team.jpg   1x,
              ./images/optimise-images/mobile-team2x.jpg 2x
            "
            media="(min-width: 320px)"
          />

          <img
            src="./images/optimise-images/mobile-team.jpg"
            alt="team-foto"
            style="margin: 0 auto"
          />
        </picture>
        <div class="about-description">
          <p class="about-description-text">What you are looking for</p>
          <h2 class="about-description-title">We provide bespoke solutions</h2>
          <p class="about-description-full">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
            ipsum dignissimos quae laudantium asperiores nam aliquid impedit
            harum illum dolore explicabo ab dolores itaque rerum temporibus
            doloribus iste maiores deleniti?
          </p>
          <button class="hero-button button" type="button">Read More</button>
        </div>
      </div>
      </div>
    </section>
