<section id="blog" class="blog">
  <div class="blog-box">
  <picture>
    <source
      srcset="
        ./images/optimise-images/desktop-cofe.webp   1x,
        ./images/optimise-images/desktop-cofe2x.webp 2x
      "
      media="(min-width: 1360px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/optimise-images/desktop-cofe.jpg   1x,
        ./images/optimise-images/desktop-cofe2x.jpg 2x
      "
      media="(min-width: 1360px)"
    />

    <source
      srcset="
        ./images/optimise-images/tablet-cofe.webp   1x,
        ./images/optimise-images/tablet-cofe2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/optimise-images/tablet-cofe.jpg   1x,
        ./images/optimise-images/tablet-cofe2x.jpg 2x
      "
      media="(min-width: 768px)"
    />
    <source
      srcset="
        ./images/optimise-images/mobile-cofe.webp   1x,
        ./images/optimise-images/mobile-cofe2x.webp 2x
      "
      media="(min-width: 320px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/optimise-images/mobile-cofe.jpg   1x,
        ./images/optimise-images/mobile-cofe2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/optimise-images/mobile-cofe.jpg"
      alt="cofe"
      style="width: 100%"
    />
  </picture>
  <div class="blog-details">
  <p class="blog-description">April 16 2020</p>
  <h2 class="blog-title">Blog Post One</h2>
  <p class="blog-text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
    dignissimos quae laudantium asperiores nam aliquid impedit harum illum
    dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
    deleniti?
  </p>
  <button class="hero-button blog-button" type="button">Read Our Blog</button>
  </div>
  </div>
</section>
