<footer class="footer container">
<ul class="footer-social-links">
  <li class="social-link">
    <svg class="socIcon" width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-facebook"></use>
        </svg>
  </li>
  <li class="social-link">
    <svg width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-twitter"></use>
        </svg>
  </li>
  <li class="social-link">
    <svg width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-youtube"></use>
        </svg>
  </li>
  <li class="social-link">
    <svg width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-linkedin"></use>
        </svg>
  </li>
</ul>
<p class="footer-text">Copyright © 2021 - FinanceLedger</p>
</footer>