  <header class="header container">
      <a href="./index.html" class="header-logo">
        <svg width="39" height="30">
          <use href="./images/svg/sprite.svg#icon-mobile-logo"></use>
        </svg>
        <span class="header-logo-word">Finance </span>Ledger
      </a>
      <nav class="scrollto header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-li">
            <a href="#home">Home</a>
          </li>
          <li class="header-nav-list-li">
            <a href="#about">About</a>
          </li>
          <li class="header-nav-list-li">
            <a href="#cases">Cases</a>
          </li>
          <li class="header-nav-list-li">
            <a href="#blog">Blog</a>
          </li>
          <li class="header-nav-list-li">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
