<section class="team container">
  <p class="team-description">Who we are</p>
  <h2 class="team-title">Our Professional Team</h2>
  <p class="team-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
  <ul class="team-list">
    <li class="team-list-item">
      <div class="filter">
        <ul class="footer-social-links">
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-facebook"></use>
                </svg>
          </li>
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-twitter"></use>
                </svg>
          </li>
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-youtube"></use>
                </svg>
          </li>
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                </svg>
          </li>
        </ul>
      </div>
      <picture class="member-foto">
        <source
              srcset="
                ./images/optimise-images/desktop-john.webp   1x,
                ./images/optimise-images/desktop-john2x.webp 2x
              "
              media="(min-width: 1360px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-john.jpg   1x,
                ./images/optimise-images/desktop-john2x.jpg 2x
              "
              media="(min-width: 1360px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-john.webp   1x,
                ./images/optimise-images/tablet-john2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-john.jpg   1x,
                ./images/optimise-images/tablet-john2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-john.webp   1x,
                ./images/optimise-images/mobile-john2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-john.jpg   1x,
                ./images/optimise-images/mobile-john2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-john.jpg"
              alt="photo of the tem member"
              style="width: 100%"
              class="member-foto"
            />
      </picture>
      <h3 class="member-name">John Doe</h3>
      <p class="member-text">President</p>
    </li>
    <li class="team-list-item">
      <div class="filter">
        <ul class="footer-social-links ">
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-facebook"></use>
                </svg>
          </li>
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-twitter"></use>
                </svg>
          </li>
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-youtube"></use>
                </svg>
          </li>
          <li class="team-social-link">
            <svg width="35" height="35">
                  <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                </svg>
          </li>
        </ul>
      </div>
      <picture class="member-foto">
        <source
              srcset="
                ./images/optimise-images/tablet-jane.webp   1x,
                ./images/optimise-images/tablet-jane2x.webp 2x
              "
              media="(min-width: 1360px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-jane.jpg   1x,
                ./images/optimise-images/tablet-jane2x.jpg 2x
              "
              media="(min-width: 1360px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-jane.webp   1x,
                ./images/optimise-images/tablet-jane2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-jane.jpg   1x,
                ./images/optimise-images/tablet-jane2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-jane.webp   1x,
                ./images/optimise-images/mobile-jane2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-jane.jpg   1x,
                ./images/optimise-images/mobile-jane2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-jane.jpg"
              alt="photo of the tem member"
              style="width: 100%"
              class="member-foto"
            />
      </picture>
      <h3 class="member-name">Jane Doe</h3>
      <p class="member-text">Vice President</p>
    </li>
    <li class="team-list-item">
      <div class="filter">
        <ul class="footer-social-links">
  <li class="team-social-link">
    <svg width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-facebook"></use>
        </svg>
  </li>
  <li class="team-social-link">
    <svg width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-twitter"></use>
        </svg>
  </li>
  <li class="team-social-link">
    <svg width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-youtube"></use>
        </svg>
  </li>
  <li class="team-social-link">
    <svg width="35" height="35">
          <use href="./images/svg/sprite.svg#icon-linkedin"></use>
        </svg>
  </li>
</ul>
      </div>
      <picture class="member-foto">
        <source
              srcset="
                ./images/optimise-images/desktop-steve.webp   1x,
                ./images/optimise-images/desktop-steve2x.webp 2x
              "
              media="(min-width: 1360px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/desktop-steve.jpg   1x,
                ./images/optimise-images/desktop-steve2x.jpg 2x
              "
              media="(min-width: 1360px)"
            />

            <source
              srcset="
                ./images/optimise-images/tablet-steve.webp   1x,
                ./images/optimise-images/tablet-steve2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/tablet-steve.jpg   1x,
                ./images/optimise-images/tablet-steve2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-steve.webp   1x,
                ./images/optimise-images/mobile-steve2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/optimise-images/mobile-steve.jpg   1x,
                ./images/optimise-images/mobile-steve2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/optimise-images/mobile-steve.jpg"
              alt="photo of the tem member"
              style="width: 100%"
              class="member-foto"
            />
      </picture>
      <h3 class="member-name">Steve Smith</h3>
      <p class="member-text">Marketing Head</p>
    </li>
  </ul>
</section>