.cases {
  padding-top: 50px;
  color: $black-text-color;
  font-weight: 400;
  text-align: center;
  padding-bottom: 39px;
  &-description {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 15px;
    @include for-size(tablet) {
      font-size: 20px;
      }
    @include for-size(desktop) {
    padding-left: 28px;
    padding-right: 28px;
      }
  }
  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 35px;
  }
  &-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 37px;
    @include for-size(tablet) {
      font-size: 18px;
      }
  }
  &-list {
    display: block;
    margin: 0 auto;
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
    &-photo {
      margin-bottom: 7px;
    }
  }
}