
.header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  padding-top: 21px;
   @include for-size(tablet) {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &-logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    &:hover,
    &:focus {
      transform: scale(1.15);
      // transform: brightness(0.5);
    }
     @include for-size(tablet) {
      font-size: 35px;
      }
    &-word {
      color: $green-text-color;
    }
  }

  &-nav-list {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-decoration: underline;
    &-li:not(:last-child) {
      margin-right: 11px;
    }
     @include for-size(tablet) {
      font-size: 18px;
      }
  }
}
  .newHeader {
    opacity: 1;
    position: fixed;
  }
  .headerScrolled {
    opacity: 0.8;
    background-color: rgb(88, 90, 90);
  }
  .current {
  position: relative;
  &::after {
    content: "";
    display: block;
    background-color: red;
    border-color: red;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 12px;
    position: absolute;
    top: 100%;
  }
}
