.team {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  &-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 15px;
    @include for-size(tablet) {
      font-size: 20px;
    }
  }
  &-list {
    @include for-size(tablet) {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      position: relative;
      @include for-size(desktop) {
      width: 420px;
    }
    }
  }

  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 35px;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 37px;
    @include for-size(tablet) {
      font-size: 18px;
    }
  }
}
.member{
  &-name {
    margin-top: 15px;
    font-weight: 400;
    font-size: 23px;
    line-height: 1.25;
    margin-bottom: 11px;
    @include for-size(tablet) {
      font-size: 25px;
    }
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    @include for-size(tablet) {
      font-size: 18px;
      margin-bottom: 19px;
    }
  }
  &-foto {
    opacity: 1;
  display: block;
  transition: .5s ease;
  // backface-visibility: hidden;
  }
  &-foto:hover {
      transform: scale(1.15);
      box-shadow: 20px 15px 15px rgb(59, 59, 59);
    }
} 
.filter {
  width: 100%;
  height: 186px;
   @include for-size(tablet) {
    height: 148px;
    }
    @include for-size(desktop) {
    height: 280px;
    }
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  transition: .5s ease;
  opacity: 0;
  position: absolute;
}

.team-list-item:hover .member-foto {
  opacity: 0.3;
}

.team-list-item:hover .filter {
  opacity: 0.6;
  transform: scale(1.15);
  box-shadow: 20px 15px 15px rgb(59, 59, 59);
}

.team-social-link {
  margin-top: 50%;
  transform: translateY(-50%);
  fill: $white-text-color;
    &:hover,
    &:focus {
      fill-opacity: 0.8;
    }
  }
    .filter .footer-social-links {
    width: 280px;
    @include for-size(tablet) {
      width: 200px;
      }
       @include for-size(desktop) {
        width: 270px;
        margin-left: 70px;
        margin-top: 23px;
      }
      & .team-social-link {
        fill: $white-text-color;
          &:hover,
          &:focus {
            fill-opacity: 0.8;
          }
      }
  }
